
<body>





<div class="card" style="position: sticky;top: 12%;">
  <img src="https://raw.githubusercontent.com/DenverCoder1/Responsive-Birthday-Card/main/birthday.svg" alt="birthday" class="birthday">
  <div class="text" >
    <h1>RAFAROS-IT  (Anciennement Smallwave/Bigwave-IT)</h1>
    <p>est un Site E-Commerce de vente de logiciels, de Conception et de Développement d'Applications Web, Mobile(Android) et de Softwares Professionnels ou Publics.</p>
    <p >Ce site offre également un Espace d'information sur l'actualité du monde informatique.  Sa version initiale datant du 03 Février 2014, en php5/Zend/Doctrine/Pdo
      a évolué en Application web Java Multithread à Architecture Répartie réalisée le 03 Février 2017 sous la "norme" JAVA EE7 avec : Java 8, un Conteneur léger (Tomcat+Spring Core) et
      une base de données Mysql 8 ou PostgreSql -  ou Oracle 12g.</p>
      <p>Lorsque son Backend a migré vers des Restfull Micro Services (sous SpringBoot) sa Couche de Présentation (développée en Client Léger SpringMvc) a finalement été
        mis à jour le 03 Février 2019 en Client Riche Angular 12 (ci présent)</p>
    <p class="muted">updated on 27/09/2022</p>
  </div>
  <div class="space"></div>
</div>


</body>










