
<body>

<div class="card" >
  <img src="./assets/images/support-green-attitude-tagged.jpg" alt="birthday" class="birthday">
  <div class="text" >
    <h1>RAFAROS-IT <br>
      (anciennement Smallwave/Bigwave-IT)</h1>
    <p>est un Outils pour Freelance Programmeur Informatique, un Site E-Commerce de vente de logiciels, de Conception et de Développement d'Applications Web, Mobile(Android) et de Softwares Professionnels ou Publics.</p>
    <p >Ce site offre également un Espace d'information sur l'actualité du monde informatique.  Sa version initiale datant du 03 Février 2014, en php5/Zend/Doctrine/Pdo
      a évolué en Application web Java Multithread à Architecture Répartie réalisée le 03 Février 2017 sous la "norme" JAVA EE7 avec : Java 8, un Conteneur léger (Tomcat+Spring Core) et
      une base de données Mysql 8 ou PostgreSql -  ou Oracle 12g. Son interface utilisateur a été développée en Client Léger avec Spring Web Mvc</p>
      <p>Sa Couche Présentation a finalement été mise à jour le 03 Février 2019 en Client Riche Angular 08 puis 14 (ci présent) et son Backend migré vers des Micro Services Restfull (sous SpringBoot) </p>
    <p class="muted">Updated on 27/09/2022</p>
<div class="verdure"><h3>RECAPITULATIF DES SERVICES OFFERTS</h3></div>
    ACCOMPAGNEMENT DANS VOTRE TRANSFORMATION DIGITALE
    ---
    ELABORATION DE VOTRE OUTILS LOGICIEL POUR LA GESTION DE VOTRE ACTIVITE
    ---
    (E-COMMERCE, E-LEARNING, UBERISATION)
    ---
    ETUDE DE FAISABILITE
    ---
    REDACTION DE CAHIERS DES CHARGES FONCTIONNELLES
    ---
    CONCEPTION & MODELISATION
    ---
    (ERP, CMS, ADMINISTRATION CRUD)
    ---
    CONCEPTION ET DEVELOPPEMENT D'APPLICATIONS WEB
    ---
    D'APPLICATIONS PROFESSIONNELLES A ARCHITECTURE DISTRIBUEE
    ---
    D'APPLICATIONS DESKTOP
    ---
    DE SITES WEB
    ---
    D'APPLICATIONS ANDROÏD
    ---
    DE LOGICIELS 
    ---
    DE JEUX
  </div>
  <div class="space"></div>
</div>


</body>










