@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  transition: all 0.2s ease-in-out;
}

body {
  background: #008888;
  display: grid;
  place-items: center;
  height: 130vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.verdure {
  text-align: left;
}
.card {
  background: #fdfdfd;
  border-radius: 4px;
  height: 130vh;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  position: sticky;
  width: 100%;
}

.text{
margin:3%;
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: row-reverse;
    height: 100%;
  }
  body {
    height: 100%;
  }
  .card img.birthday {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

img.birthday {
  max-height: 40vh;
}

.text {

  padding-bottom: 10em;
}

.muted {
  opacity: 0.8;
}

.space {
  height: 100px;
}


@media only screen and (max-height: 640px) {
  .card {
    flex-direction: row-reverse;
  }
  .card img.birthday {
    width: 100%;
    max-width: 60vw;
    max-height: unset;
  }
}




