<!-- footer.component.html -->
<div class="footer page-content">
  <footer class="footer-container">
    <p>
      <span></span>
    </p>

    <div class="text-blocks">
      <div class="text-block">
        Sté François Yvon RAFARALAHY
        <br />
        Freelance Programmation Informatique
        <br />
        92120 Montrouge - FRANCE
      </div>
      <div class="text-block">
        &#9829; Contact :<br />
        rafaralahyf@gmail.com
        <br />
        +33 6 95 09 68 56
      </div>
      <div class="text-block">Copyright &copy; 2023</div>
    </div>
    <div class="social-icons">
      <div class="social-icon-container">
        <a href="https://www.facebook.com/Rafaros.68" target="_blank">
          <i class="fab fa-facebook social-icon"></i>
        </a>
      </div>
      <div class="social-icon-container">
        <a href="https://twitter.com/rafarosIT" target="_blank">
          <i class="fab fa-twitter social-icon"></i>
        </a>
      </div>
      <div class="social-icon-container">
        <a href="https://www.instagram.com/franrafar/" target="_blank">
          <i class="fab fa-instagram social-icon"></i>
        </a>
      </div>
<!--      <div class="social-icon-container">
        <a href="lien_vers_snapchat" target="_blank">
          <i class="fab fa-snapchat social-icon"></i>
        </a>
      </div>-->
      <div class="social-icon-container">
        <a href="https://www.linkedin.com/in/fran%C3%A7ois-yvon-rafaralahy-045a9ba1/" target="_blank">
          <i class="fab fa-linkedin social-icon"></i>
        </a>
      </div>
    </div>
  </footer>
</div>
