// footer.component.scss

.footer {
  height: 50px;
}

.social-icon-container {
  margin-right: 11px; /* Ajoutez la marge désirée entre les icônes */
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #333;
}

.text-blocks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.text-block {
  max-width: 300px; /* Ajustez la largeur maximale selon vos besoins */
  padding: 10px;
  background-color: #333;
  color: #fff;
  margin-bottom: 10px; /* Ajoute un espace entre les blocs de texte */
}

.social-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.social-icon {
  font-size: 48px;
  color: #007bff;
  transition: color 0.2s;
}

.social-icon:last-child {
  margin-right: 0; /* Supprimer la marge à droite de la dernière icône */
}

.social-icon:hover {
  color: #0056b3;
}

/* Media Query pour les petits écrans (smartphones) */
@media screen and (max-width: 768px) {
  .text-blocks {
    flex-direction: column;
    align-items: center;
  }
}
