




<div class="pages" style='margin-top:16%;'>
  <header style='margin-left: 39.42%;margin-bottom:6.28%'>
    <h3>BIENVENU !</h3>
    <h4>Vous êtes connecté en tant qu' ADMIN</h4>
  </header>
<div class="container">


        <div class="float-left">
            <strong>Dashborad</strong>
        </div>
    <br><br>
    <button class="float-right cursorPointer" (click)="logOut()">
            <strong>
                <u>Déconnexion</u>
            </strong>
        </button>

</div>


  <br><br><br>
</div>

