
<nav id="hamnav">
  <div class="topnav" id="myTopnav">

    <a  routerLinkActive="active" routerLink="accueil" class="navbar-logo"><img src="assets/images/logo.png" alt="RAFAROS-IT" height="55"><br>Accueil</a>



    <label for="hamburger">&#9776;</label>
    <input type="checkbox" id="hamburger"/>


    <div id="hamitems">
      <a    routerLink="servdev"><div class="texton">SERVICES</div></a>
      <a    routerLink="boutique"><div class="texton">BOUTIQUE</div></a>
      <a    routerLink="journinfo"><div class="texton">JOURNAL DE LINFORMATIQUE</div></a>
      <a    routerLink="competences"><div class="texton">COMPETENCES</div></a>
      <a    routerLink="partenaires"><div class="texton">PARTENAIRES</div></a>
      <a    routerLink="about"><div class="texton">A PROPOS</div></a>
      <a    routerLink="listcommande"><div class="texton">CRUD ADMIN</div></a>

      <a    routerLink="auth" ><div class="texton btn btn-success" *ngIf="!authStatus">CONNEXION</div>
                                                        <div class="texton btn btn-danger"  *ngIf="authStatus" >DECONNEXION</div>        </a>
    </div>

  </div>

  </nav>





