<!-- (A) MENU WRAPPER -->
<nav id="hamnav">
  <div class="topnav" id="myTopnav">

    <a  routerLinkActive="active" routerLink="accueil" class="navbar-logo"><img src="assets/images/logo.png" alt="RAFAROS-IT" height="55"><br>Accueil</a>


    <!-- (B) THE HAMBURGER -->
    <label for="hamburger">&#9776;</label>
    <input type="checkbox" id="hamburger"/>

    <!-- (C) MENU ITEMS -->
    <div id="hamitems">
      <a   routerLinkActive="active" routerLink="servdev"><div class="texton">SERVICES DE DEVELOPPEMENT</div></a>
      <a   routerLinkActive="active" routerLink="boutique"><div class="texton">BOUTIQUE</div></a>
      <a   routerLinkActive="active" routerLink="journinfo"><div class="texton">JOURNAL DE LINFORMATIQUE</div></a>
      <a   routerLinkActive="active" routerLink="competences"><div class="texton">COMPETENCES</div></a>
      <a   routerLinkActive="active" routerLink="partenaires"><div class="texton">PARTENAIRES</div></a>
      <a   routerLinkActive="active" routerLink="about"><div class="texton">A PROPOS</div></a>
      <a   routerLinkActive="active" routerLink="listcommande"><div class="texton">CRUD ADMIN</div></a>

      <a   routerLinkActive="active" routerLink="auth" ><div class="texton btn btn-success" *ngIf="!authStatus">CONNEXION</div>
                                                        <div class="texton btn btn-danger"  *ngIf="authStatus" >DECONNEXION</div>        </a>
    </div>

  </div>
  <!--</div>-->
  </nav>





