<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="row container-fluid">

    <a    routerLink="accueil" (click)="onSidenavClose()" class="navbar-brand">
      <img src="assets/images/logo.png" height="55" alt="CoolBrand">
      <br/>&nbsp;&nbsp;&nbsp;ACCUEIL
    </a>

<!--    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>-->

    <button type="button"  class="menu-icon" (click)="openMenu()" [class.menu_icon_class]="menu_icon_class_BooleanVariable">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div [class.menuClass]="menuBooleanVariable" class="menu collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav">
        <li><a    routerLink="servdev" (click)="onSidenavClose()"><div class="texton">SERVICES</div></a></li>
        <li><a    routerLink="boutique" (click)="onSidenavClose()"><div class="texton">BOUTIQUE</div></a></li>
        <li><a    routerLink="journinfo" (click)="onSidenavClose()"><div class="texton">JOURNAL DE L'IT</div></a></li>
        <li><a    routerLink="competences" (click)="onSidenavClose()"><div class="texton">COMPETENCES</div></a></li>
        <li><a    routerLink="partenaires" (click)="onSidenavClose()"><div class="texton">PARTENAIRES</div></a></li>
        <li><a    routerLink="about" (click)="onSidenavClose()"><div class="texton">A PROPOS</div></a></li>
        <li><a    routerLink="listcommande" (click)="onSidenavClose()"><div class="texton">CRUD ADMIN</div></a></li>
      </ul>

      <div class="navbar-nav ms-auto">
        <a    routerLink="auth" (click)="onSidenavClose()"><div class="texton btn btn-success" *ngIf="!authStatus">CONNEXION</div>
          <div class="texton btn btn-danger"  *ngIf="authStatus" >DECONNEXION</div>        </a>
      </div>

      <button routerLink="cart" class="btn btn-primary">
        <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
      </button>

    </div>

  </div>
</nav>
</header>




