<header>
  <div class="container-fluid">
    <div class="navbar navbar-expand-lg">

      <div class="navbar-brand col-md-2 col-sm-2 col-12">
        <a routerLinkActive="active" routerLink="accueil" class="logo" (click)="onSidenavClose()">
          <img src="assets/images/logo.png" alt="RAFAROS-IT" height="55">
          <div class="texton">Accueil</div>
        </a>
      </div>

      <div class="col-md-10 text-end">

        <div class="menu" [class.menuClass]="menuBooleanVariable">
          <ul>

            <li><a    routerLink="servdev" (click)="onSidenavClose()"><div class="texton">SERVICES</div></a></li>
            <li><a    routerLink="boutique" (click)="onSidenavClose(); onBoutiqueSelect()"><div class="texton">BOUTIQUE</div></a></li>
            <li><a    routerLink="journinfo" (click)="onSidenavClose()"><div class="texton">JOURNAL DE LINFORMATIQUE</div></a></li>
            <li><a    routerLink="partenaires" (click)="onSidenavClose()"><div class="texton">PARTENAIRES</div></a></li>
            <li><a    routerLink="about" (click)="onSidenavClose()"><div class="texton">A PROPOS</div></a></li>
            <li><a    routerLink="listcommande" (click)="onSidenavClose()"><div class="texton">CRUD ADMIN</div></a></li>
            <li><a    routerLink="competences" (click)="onSidenavClose()"><div class="texton">COMPETENCES</div></a></li>



            <li><button routerLink="auth" class="btn btn-primary" (click)="onSidenavClose()">
          {{ authStatus ? 'DECONNEXION' : 'CONNEXION' }}
        </button></li>

<!--         <li><button routerLink="cart" class="btn btn-primary">
          <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
          <div style="font-size: 10px;" class="badge bg-danger">{{ totalItem }}</div>
        </button></li>
 -->
        <!-- Ajoutez *ngIf pour conditionner l'affichage du panier -->
<li *ngIf="isBoutiqueSelected"><button routerLink="cart" class="btn btn-primary">
    <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
    <div style="font-size: 10px;" class="badge bg-danger">{{ totalItem }}</div>
  </button></li>

      </ul>
    </div>
  </div>

        <div class="menu-icon" (click)="openMenu()" [class.menu_icon_class]="menu_icon_class_BooleanVariable">
          <span></span>
          <span></span>
          <span></span>
        </div>

      

    

    </div>
  </div>
</header>