<header>
  <div class="container">
    <div class="row">

      <div class="col-md-2 col-sm-2 col-2 ">
        <!--<div class="logo"><img src="./assets/images/logo.png"  alt="LOGO"></div>-->
        <a  routerLinkActive="active" routerLink="accueil" class="logo"><img src="assets/images/logo.png" alt="RAFAROS-IT" height="55"><br>
          <div class="texton">Accueil</div></a>
      </div>

      <div class="col-md-8 col-sm-8 col-8 text-end ">
        <div class="menu-icon" (click)="openMenu()" [class.menu_icon_class]="menu_icon_class_BooleanVariable">
          <span></span>
          <span></span>
          <span></span>

        </div>
        <div class="menu" [class.menuClass]="menuBooleanVariable">
          <ul>
            <li><a    routerLink="servdev"><div class="texton">SERVICES</div></a></li>
            <li><a    routerLink="boutique"><div class="texton">BOUTIQUE</div></a></li>
            <li><a    routerLink="journinfo"><div class="texton">JOURNAL DE LINFORMATIQUE</div></a></li>
            <li><a    routerLink="competences"><div class="texton">COMPETENCES</div></a></li>
            <li><a    routerLink="partenaires"><div class="texton">PARTENAIRES</div></a></li>
            <li><a    routerLink="about"><div class="texton">A PROPOS</div></a></li>
            <li><a    routerLink="listcommande"><div class="texton">CRUD ADMIN</div></a></li>

            <li><a    routerLink="auth" ><div class="texton btn btn-success" *ngIf="!authStatus">CONNEXION</div>
              <div class="texton btn btn-danger"  *ngIf="authStatus" >DECONNEXION</div>        </a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</header>




