

<section style="background-color: #E2A9G0;">





<div style="color: #A4A4A4; font-size: 14px; text-align: center;">
  CHEF
  DE PROJET / ARCHITECTE LOGICIEL / CONCEPTEUR-DEVELOPPEUR /
  ADMINISTRATEUR DE BASE DE DONNEES / WEBMASTER
</div>
<br>
<br>






<!--===================================  FILTERS ===============================================-->

<div class="card-top container-fluid">
  <div class="container d-flex">
    <div class="item">
      <a (click)="filter('')">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
        <h6>All products</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filter('electronics')">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
        <h6>Electronics</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filter('fashion')">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">
        <h6>Fashion</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filter('jewelery')">
        <img style="width: 62px; margin-top: 5px;" src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt="">
        <h6>Jewllery</h6>
      </a>
    </div>
  </div>
</div>

<!-- - - - - - Add to cart- - - - - --->



<div class="main">
  <h1>PRODUITS DISPONIBLES</h1>





  <br>
  <ul class="cards">


<!--======================== - - - - -  ROWS  - - - - - - ==========================================================-->

    <!--    - - - - - - - - -             STREAMED ROWS     - - - - - - - - - - -       ------>

    <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
      <li class="cards_item">
        <div class="card ">
          <div class="card_image"><img src="{{item.image}}" alt="Mobirise"></div>
          <div class="card_content">

            <h2 class="card_title">{{item.title}}</h2>
            <br/>
            <p class="card_text">{{item.description}}</p>
            <p><strong>Prix:</strong> {{item.price}}&nbsp;&euro;</p>
            <button *ngIf="item.isAvailable" class="btn card_btn" (click)=addtocart(item)>Ajouter au Pannier</button>

          </div>
        </div>
      </li>
    </ng-container>



  </ul>
</div>











<h3 class="made_by">Mis à jour : 10/10/2022</h3>






<!------------------------------------------------------------------------------------------------------------------------------------------->


<br>
<br>
<br>



</section>

