<body style=" background-color: #6E6E6E;">

<!-- <div class="cont" style="
background-image: url('assets/images/galaxie.jpg');"
> -->
<div class="cont">
  <h2 class="quest"><br/>FAITES FABRIQUER VOTRE PRODUIT : LOGICIEL, SITE WEB, APPLICATION WEB / DESKTOP / ANDROID&nbsp;<br/><br/></h2>


  <div class="row ">

    <div class="column">
      <div class="card">
        <img src="assets/images/background1.jpg" alt="Mobirise">
        <h2 class="bold"><br/>1°<br/>Remplir le formulaire (en bas)</h2>
        <h3 class="justif"><br/>Joignez les
          schémas et maquettes explicatifs nécessaires.</h3>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/images/software-417880_960_720.jpg" alt="Mobirise">
        <h2 class="bold"><br/>2°<br/>Vérifiez notre réponse (Devis)</h2>
        <h3 class="justif"><br/>Vous pouvez nous recontacter pour toute réctification.</h3>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <img src="assets/images/background3.jpg" alt="Mobirise">
        <h2 class="bold"><br/>3°<br/>Signez le Devis final (Facturation)</h2>
        <h3 class="justif"><br/>Les travaux commencent après paiement des 30% du total facturé.
        </h3>
      </div>
    </div>

  </div>


</div>





<app-commande-form></app-commande-form>


</body>
