<body style=" background-color: #6E6E6E;">





<div id="example" style="padding-top:128px;">
  <marquee behavior="scroll" direction="left"
           scrollamount="31" scrolldelay="25" onmouseover="this.stop();"
           onmouseout="this.start();" bgcolor="grey">

    <div class="textdef">
      ACCOMPAGNEMENT DANS VOTRE TRANSFORMATION DIGITALE : ELABORATION DE VOTRE LOGICIEL DE GESTION D'ACTIVITE
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      (ERP, CMS, CRUD ADMINISTRATION...)
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
      CONCEPTION ET DEVELOPPEMENT DE LOGICIELS JAVA, D'APPLICATIONS WEB JAVA EE A ARCHITECTURE DISTRIBUEE,
      D'APPLICATIONS MOBILE ANDROÏD
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
      (SOFTWARES, JEUX, SITES WEB PERSONNELS OU PROFESSIONNELS : E-COMMERCE, E-LEARNING, UBERISATION)
    </div>
  </marquee>
</div>


<div class="cont">
  <h2 class="quest"><br/>VOUS DESIREZ FAIRE FABRIQUER VOTRE LOGICIEL OU VOTRE APPLICATION WEB ?&nbsp;<br/><br/></h2>


  <div class="row ">

    <div class="column">
      <div class="card">
        <img src="assets/images/background1.jpg" alt="Mobirise">
        <h2 class="bold"><br/>1°<br/>Remplissez le formulaire (en bas)</h2>
        <h3 class="justif"><br/>Joignez les
          schémas et maquettes explicatifs nécessaires.</h3>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="assets/images/software-417880_960_720.jpg" alt="Mobirise">
        <h2 class="bold"><br/>2°<br/>Vérifiez notre réponse (Devis)</h2>
        <h3 class="justif"><br/>Vous pouvez nous recontacter pour toute réctification.</h3>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <img src="assets/images/background3.jpg" alt="Mobirise">
        <h2 class="bold"><br/>3°<br/>Signez le Devis (Facturation)</h2>
        <h3 class="justif"><br/>Les travaux commencent dès paiement des 30% du total facturé.
        </h3>
      </div>
    </div>

  </div>


</div>





<app-commande-form></app-commande-form>




</body>











