#example {
    padding-top: 0.5%;
    overflow: hidden;
    background: rgb(63, 62, 62);
  }
  #textdef {
    color: white;
  }
  .imgslideur {
    overflow: hidden;
    width: 775px;
    height: 200px;
    margin:0 auto 0 auto; 
    padding:0 auto 0 auto;
    background-color: black;
  }
