/*SLIDE SHOW IMAGE general styles*/
.partners-container {
  padding-top: 31.416px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 31.416px;
  padding-bottom: opx;
  width: 10%;
  margin: auto;
}
.partners {
justify-content: center;

}

.imgslideur {
  overflow: hidden;
  width: 775px;
  height: 200px;
  margin:0 auto 0 auto;
  padding:0 auto 0 auto;
  background-color: black;
}
/*slideshow styles*/


/* Media Query pour les petits écrans (smartphones) */
/* Media Query pour les petits écrans (smartphones) */
@media screen and (max-width: 768px) {
  .imgslideur {
    width: 100%; /* Ajustez la largeur pour les écrans plus petits selon vos besoins */
    height: auto;
  }
}

/*SLIDE SHOW IMAGE END OF general styles*/
