<body style="background-color: rgb(8, 8, 8);
width:100%;
background: url('assets/images/galaxy.jpg') repeat;
padding-bottom: 0%;
">


<!--hovering over the images will pause the slideshow -->

<div class="imgslideur" >

  <ng-image-slider #nav
                     [images]="imageObject"
                     [infinite]="true"
                     [autoSlide]="4"
                     [imageSize]="{width: '775px',space: 0}"
                     slideImage="1"></ng-image-slider>
  </div>

<!--   <div class="imgslideur" >

    <ng-image-slider #nav
                 [images]="imageObject"
                 [infinite]="false"
                 [autoSlide]="0"
                 [imageSize]="{width: '775px', space: 0}"
                 slideImage="1"></ng-image-slider>
</div> -->
<!--END OF the slideshow -->

<section class="partners">
  <div class="partners-container">
<h2>PARTENAIRES</h2>
<p>Ionos</p>
<p>Malt</p>
<p>Paypal</p>
<p>Jhipster</p>
<p>Liferay</p>
<p>Developpez.com</p>
<p>codeur.com</p>
<p>Madaskill</p>
</div>
</section>


</body>

