#example {
  padding-top: 0.5%;
  overflow: hidden;
  background: rgb(63, 63, 63);
}

#textdef {
color: aqua;

}
.imgslideur {
  overflow: hidden;
  width: 775px;
  height: 200px;
  margin:0 auto 0 auto; 
  padding:0 auto 0 auto;
  background-color: black;
}

.bloc2 {
  width: 100%;
  padding-left: 25%;
  padding-bottom: 5%;
  visibility: hidden;
}

.section-text {
  width: 180px;
  height: 200px;
  margin: auto;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

.bigwave {
  color: red;
  font-style: italic;
}

.logo {
  width: 180px;
  height: 45px;
}

.gif {
  width: 180px;
  height: 144px;
}

/* VIDEO PLAYER */
/* .video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56%;
} 

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
*/

/* END OF VIDEO PLAYER */


/* Media Query pour les petits écrans (smartphones) */
@media screen and (max-width: 768px) {
  .imgslideur {
    width: 100%; /* Ajustez la largeur pour les écrans plus petits selon vos besoins */
    height: auto;
  }
}