



<div style="
padding-top:128px;
size:1920px;
/*height:1080px;* give height sufficient longer to not hide the video */
height:1620px;
background: url('/assets/images/galaxy.jpg') repeat;
"
>








  <!--hovering over the images will pause the slideshow -->
  <div style="background-color:#2E2E2E;">
    <div style="width: 775px; height: 200px; text-align:center;margin:0 auto 0 auto; padding:0 auto 0 auto;background-color: black;">

      <ng-image-slider #nav
                       [images]="imageObject"
                       [infinite]="true"
                       [autoSlide]="4"
                       [imageSize]="{width: '775px',space: 0}"
                       slideImage="1"></ng-image-slider>
    </div>

    <!--
<section class="slideshow">
  <div class="slideshow-container slide">
    <div class="slide-img"><img src="assets/images/dev-im-defil-bis.gif"/><p>Conception - Développement de Logiciels Desktop, d'Application Android et d'Applications Web (Back-Office Front-Office).</p></div>
    <div class="slide-img"><img src="assets/images/software-store-im-defil.gif"/><p>Magasin "E-STORE" de Vente en Ligne de Softwares et d'Applications professionnelles.</p></div>
    <div class="slide-img"><img src="assets/images/it-news-articles-im-defil-955x255.jpg"/><p>Espace d'Informations et d'Actualités sur le monde de l'Informatique.<p></div>
    <div class="slide-img"><img src="assets/images/partenaires-im-defil-955x255.jpg"/><p>Associations, Partenaires et Collaborateurs.</p></div>
  </div>
</section>
 -->
</div>
<!--END OF the slideshow -->



  <br><br>
  <div class="section-text ">
    <br/>
    <h2> RAFAROS-IT<br/>
      <div class="bigwave">Bigwave-IT</div>
    </h2>
    <img class="logo" src="assets/images/photo_about_smallwave/logo.gif">
    <div class="gif"><img src="assets/images/photo_about_smallwave/tornade.25954.gif"></div>
  </div>
  <br><br>





  <!--     video VIDEO: smallwave (PRESENTATION) -->





  <div class="container">
    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/BQtHtxAH91M"></iframe>
  </div>



</div>
