

<body style="background-color: black;">

  <br><br><br>

<div style="width: 955px; text-align:center;margin:0 auto 0 auto; padding:0 auto 0 auto;background-color: black;">
  <ng-image-slider #nav
    [images]="imageObject"
    [infinite]="true"
    [autoSlide]="4"
    [imageSize]="{width: '955px', height: '255px',space: 0}"
    slideImage="1"></ng-image-slider>
</div>






  <section class="mbr-section article content10 cid-s2DQ3L7aaI" id="content10-6">

    <div class="container">
      <div class="inner-container" style="width: 66%;">
        <hr class="line" style="width: 25%;">
        <div class="section-text align-center mbr-white mbr-fonts-style display-5">
          <h2>Bienvenu chez RAFAROS-IT</h2>
          <div id="logo"><img src="assets/images/photo_about_smallwave/logo.gif"></div>
          <div id="gif"><img src="assets/images/photo_about_smallwave/tornade.25954.gif"></div>
        </div>
        <hr class="line" style="width: 25%;">
      </div>
    </div>
  </section>






  <!--     video VIDEO: smallwave (PRESENTATION) -->
  <section class="cid-rr0zroEFxE" id="video3-n" style="background-image: url('assets/images/galaxie-1-1200x422.jpg')">

    <figure class="mbr-figure align-center container">
      <div class="video-block" style="width: 100%;">
        <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/BQtHtxAH91M?rel=0&amp;amp;showinfo=0&amp;autoplay=1&amp;loop=1&amp;playlist=BQtHtxAH91M" width="720" height="405" frameborder="0" allowfullscreen></iframe></div>
      </div>
    </figure>
  </section>

<app-footer></app-footer>
</body>

