<div class="container" style="
background-image: url('assets/images/galaxy.jpg') repeat;
">
  <br><br><br>
  <h2>Formulaire</h2>
  <form >
    <div class="mb-3">
      <label  class="form-label">Nom</label>
      <input type="text" class="form-control" name="nom" [(ngModel)]="commande.nom">
    </div>
    <div class="mb-3">
      <label class="form-label">Prenom</label>
      <input type="text" class="form-control" name="prenom" [(ngModel)]="commande.prenom" required >
    </div>


    <div class="form-group">
      <label class="control-label col-sm-6">Civilite:</label>
      <div class="col-sm-60">
        <fieldset >
          <br>
          <div class="once"  *ngFor="let civilite of civilites">
            <label class="twice"  for="{{civilite}}">
              <input  id="{{civilite}}" [value]='civilite' type="radio" name="civilites" [(ngModel)]="commande.civilite">
              {{civilite}}
            </label>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-6" >Pays:</label>
      <div class="col-sm-60">
        <select path="pays" class="form-control selectpicker" name="pays" [(ngModel)]="commande.pays">
          <option value="USA" >USA</option>
          <option value="GREAT BRITAIN" >GREAT BRITAIN</option>
          <option value="INDIA" >INDIA</option>
          <option value="JAPAN" >JAPAN</option>
          <option value="MADAGASCAR" >MADAGASCAR</option>
          <option value="CANADA" >CANADA</option>
          <option value="ESPAGNE" >ESPAGNE</option>
          <option value="SUISSE" >SUISSE</option>
          <option value="FRANCE" >FRANCE</option>
          <option value="GERMANY" >GERMANY</option>
          <option value="ITALY" >ITALY</option>
          <option value="BRASIL" >BRASIL</option>
          <option value="BELGIUM" >BELGIUM</option>
        </select>

      </div>

    </div>


    <div class="mb-3">
      <label  class="form-label">Nom du Produit</label>
      <input type="text" class="form-control" name="nomProduit" [(ngModel)]="commande.nomProduit">
    </div>

    <div class="mb-3">
      <label f class="form-label">Description du Produit (Résumé)</label>
      <input type="text" class="form-control" name="descriptionProduit" [(ngModel)]="commande.descriptionProduit">
    </div>

    <div class="mb-3">
      <label  class="form-label">Phone</label>
      <input type="text" class="form-control" name="phone" [(ngModel)]="commande.phone">
    </div>

    <div class="mb-3">
      <label  class="form-label">InstantMessenger (facultatif)</label>
      <input type="text" class="form-control" name="instantMessenger" [(ngModel)]="commande.instantMessenger">
    </div>

    <div class="mb-3">
      <label  class="form-label">Email</label>
      <input type="text" class="form-control" name="email" [(ngModel)]="commande.email">
    </div>

    <div class="form-group">
      <label class="control-label col-sm-6" >Délais/Deadline:</label>
      <div class="col-sm-60">
        <select path="deadline" class="form-control selectpicker" name="deadline" [(ngModel)]="commande.deadline">
          <option value="7 jours" >7 jours</option>
          <option value="15 jours" >15 jours</option>
          <option value="2 semaines" >2 semaines</option>
          <option value="3 semaines" >3 semaines</option>
          <option value="1 mois" >1 mois</option>
          <option value="2 mois" >2 mois</option>
          <option value="3 mois" >3 mois</option>
          <option value="4 mois" >4 mois</option>
          <option value="5 mois" >5 mois</option>
          <option value="6 mois" >6 mois</option>
          <option value="7 mois ou plus" >7 mois ou plus</option>
        </select>
      </div>

    </div>


    <div class="form-group">
      <label class="control-label col-sm-6" >Quel est votre Budget </label>
      <div class="col-sm-60">
        <select path="budget"  class="form-control selectpicker" name="budget" [(ngModel)]="commande.budget">
          <option value="140 euros" >140 euros</option>
          <option value="180 euros" >180 euros</option>
          <option value="250 euros" >250 euros</option>
          <option value="500 euros" >500 euros</option>
          <option value="750 euros" >750 euros</option>
          <option value="1000 euros" >1000 euros</option>
          <option value="2500 euros" >2500 euros</option>
          <option value="5000 euros" >5000 euros</option>
          <option value="10.000 euros" >10.000 euros</option>
          <option value="15.000 euros" >15.000 euros</option>
          <option value="20.000 euros ou plus" >20.000 euros ou plus</option>
        </select>
      </div>

    </div>

    <div class="mb-3">
      <label  class="form-label">PathDle (chemin vers l'image de votre Avatr - facultatif)</label>
      <input type="text" class="form-control" name="pathDle" [(ngModel)]="commande.pathDle">
    </div>

    <div class="form-group row">
      <label  class="control-label col-sm-6">Type du Produit commandé</label>
      <div class="col-sm-60">
      <select [compareWith]="compararTypecommande" [(ngModel)]="commande.typecommande" class="form-control" name="typecommande">
        <option [ngValue]="undefined">--- Selectionner un Typecommande ---</option>
        <option *ngFor="let typecommande of typecommandes" [ngValue]="typecommande">{{ typecommande.libelle }}</option>
      </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3" (click)="crearCommande()" *ngIf="!commande.id">Envoyer</button>
    <button type="submit" class="btn btn-primary mt-3" (click)="actualizarCommande()" *ngIf="commande.id">Modifier</button>
  </form>
</div>
