
.formulaire{
padding-top: 1%;
padding-left:15%;
padding-right:15%;

}

.control-label{
color:yellow;
}

fieldset{
background-color: #819EAB;
text-align: left;
color: #F4FA58;
}

option{
//padding-left: 40%;
}
